.cardStyle {
    margin-top: 1em;
    width: 50em;
    box-shadow: -2px 5px #ccc9c9;
}

.buttonStyle {
    float: right;
}
.priceStyle {
    float: right;
    background: #b2e2b2;
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.basket{
    padding: 1em;
    margin-top: 1em;
    background: rgb(74, 180, 74)
}

#list {
    padding: 2em;
}

#checkout {
    float: right;
}

#total {
    float: right;
}